@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  /* Resetear estilos predeterminados del navegador*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* Definimos variables */
:root {
  --color-bright-yellow: #ffeb69;
  --color-bright-orange: #ffc091;
  --color-dark-purple: #260a2f;
  --color-dark-gold: #3a341c;
  --color-bright-blue: #a0e1e1;
  --color-dark-charcoal: #21231d;
  --color-white: #fff;
  --color-black: #000;
  --color-bright-green: #9fe870;
  --color-forest-green: #163300;
  --color-bright-pink: #ffd7ef;
  --color-dark-maroon: #320707;
  --color-content-primary: #9fe870;
  --color-content-secondary: #e8ebe6;
  --color-content-tertiary: #d0d5ce;
  --color-content-link: #9fe870;
  --color-content-link-hover: #cdffad;
  --color-content-link-active: #ecffe0;
  --color-interactive-primary: #9fe870;
  --color-interactive-accent: #9fe870;
  --color-interactive-control: #163300;
  --navigation-background-alpha: rgba(34, 61, 13, 0.9);
  --color-interactive-warning: #df8700;
  --color-interactive-warning-hover: #c97500;
}
/* le damos estilo al header  */
header {
  width: 100%;
  background-color: var(--color-interactive-control);
}
/*_____________________________________MENU__________________________________________________________*/

/* Define variables para controlar la escala de elementos dentro de la navegación */
.nav {
  /* definimos variables personalizadas */
   --img1: scale(1); /*establecemos la variable img1 son un valor de escala 1 */
   --img2: scale(0); /*establecemos la variable img2 son un valor de escala 0*/
   /* La propiedad scale() en CSS se utiliza para especificar una transformación de escala para un elemento. Esta transformación altera el tamaño de un elemento, haciéndolo más grande o más pequeño según los valores proporcionados. */
}
/* Estilos específicos cuando un elemento .nav contiene un .dropdown apuntado por un enlace :target */
.nav:has(.dropdown:target) {
  --img1: scale(0);
  --img2: scale(1);
  --clip: inset(0 0 0 0);
}

/* Estilos para el contenedor de navegación */
.nav__container {
  width: 90%;
  margin: 0 auto;
  height: 90px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: "title img";
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.nav__menu {
  grid-area: img;
  position: absolute;
  right: 15px;
  z-index: 10;
  transform: var(--img1);
  display: none;
}
.nav__menu--second {
  transform: var(--img2);
}
.nav__title {
  grid-area: title;
}
.nav__title a {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fff;
  font-size: 2pc;
}

.nav__icon {
  width: 30px;
  display: block;
}
.dropdown {
  display: flex;
  gap: 20px;
  transition: clip-path .5;
}

.dropdown__list {
  list-style: none;
}
.dropdown__link {
  color: #fff;
  padding: 1em 0.7em;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
/* Logo */
.icono-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.icono-container img {
  width: 100%;
  object-fit: cover;
}

/* #menu {
  display: flex;
  justify-content: space-around;
  padding: 26px;
  left: 0px;
  align-items: center;
}

#menu a:hover {
  color: var(--color-content-link-hover);
  border-color: var(--color-content-link-hover);
}
/* #menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/* Menu */
/* #menu ul {
  display: flex;
  list-style: none;
  gap: 50px;
} */
/* #menu ul a {
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 300;
  color: var(--color-white); 
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: 0.25s;
}  */
_______________________________________________________________________________________________
  ul {
  list-style: none;
}
h1 {
  font-size: 6.5pc;
  font-weight: 500;
  letter-spacing: 7px;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
}
h3 {
  font-size: 1.3pc;
  font-weight: 400;
  line-height: 2pc;
  letter-spacing: 1.7px;
}
h4 {
  font-size: 1.3pc;
  font-weight: 550;
  letter-spacing: 1.1px;
}
h5 {
  font-size: 18px;
}
.moneda body span {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
p {
  font-size: 12px;
}
.img-background {
  background-image: url("../img/img-background-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
}
.img-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: beige;
  margin-right: 20px;
}
.img-container img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}
#BackgroundDinamico {
  width: 100%;
  animation: cambioDeFondo 60s infinite linear; /* Duración actualizada a 96s */
}
@keyframes cambioDeFondo {
   /* Definición de los keyframes */
  /* Cada porcentaje indica un punto en la animación */
  /* Los estilos definidos se aplican en ese punto durante la animación */
  0%,
  10% {
    /* Durante los primeros 10% de la animación, se establece un fondo específico y opacidad completa */
    background-image: url("../img/img-background-header.jpg");
    opacity: 1;
  }
  10%,
  12% {
    opacity: 0.5;
  }

  12%,
  22% {
    background-image: url("../img/fondo1.jpg");
    opacity: 1;
  }
  22%,
  24% {
    opacity: 0.5;
  }

  24%,
  34% {
    background-image: url("../img/fondo2.jpg");
    opacity: 1;
  }
  34%,
  36% {
    opacity: 0.5;
  }

  36%,
  46% {
    background-image: url("../img/fondo3.jpg");
    opacity: 1;
  }
  46%,
  48% {
    opacity: 0.5;
  }

  48%,
  58% {
    background-image: url("../img/fondo4.jpg");
    opacity: 1;
  }
  58%,
  60% {
    opacity: 0.5;
  }

  60%,
  70% {
    background-image: url("../img/fondo5.jpg");
    opacity: 1;
  }
  70%,
  72% {
    opacity: 0.5;
  }

  72%,
  82% {
    background-image: url("../img/fondo6.jpg");
    opacity: 1;
  }
  82%,
  84% {
    opacity: 0.5;
  }

  84%,
  94% {
    background-image: url("../img/img-background-header.jpg");
    opacity: 1;
  }
  94%,
  96% {
    opacity: 0.5;
  }
}
/*boton menu desplegable*/
/* .btn-mnu {
  display: none;
  padding: 3px 10px;
  border: none;
  background-color: #13130d50;
  color: #fff;
  font-size: 36px;
  position: absolute;
  right: 20px;
} */

/*Migas de Pan*/
.bread-crumb-container {
  margin-top: 30px;
  margin-left: 30px;
}
.bread-crumb {
  display: flex;
  list-style: none;
  font-size: 16px;
}
.bread-crumb li {
  margin-right: 15px;
}

/* --FOOTER-- */
footer {
  background-color: lightgrey;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 16px;
  place-items: center; /* Esto distribuirá el contenido de manera uniforme */
}
.nombre-materia {
  text-align: center;
  padding: 20px;
  font-style: italic;
}
.item-footer li {
  margin-bottom: 5px;
}
.item-footer a:hover {
  color: var(--color-primary);
  font-size: 18px;
}

/* --MEDIA QUERIES--*/

@media screen and (max-width: 768px) {
  header {
    height: 0;
  }
  /*Menu desplegable*/
  .dropdown {
    position: absolute;
    background-color: var(--color-interactive-control);
    width: 75%;
    max-width: 300px;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 1em;
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    clip-path: var(--clip, inset(0 100% 100% 0));
    z-index: 10;
  }
  .nav__title {
    display: none;
  }
  .nav__menu {
    display: block;
  }
  /* #menu ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  #menu ul li {
    width: 100%;
    text-align: center;
  } */
  .img-background {
    flex-direction: column;
    min-height: 300px;
  }
  .img-container {
    width: 90px;
    height: 90px;
  }
  .title h1 {
    font-size: 3pc;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item-footer {
    text-align: center;
  }
  .item-footer h3 {
    font-weight: 600;
    font-style: italic;
  }
}
