@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* { /* Resetear estilos predeterminados del navegador*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    font-family: 'Roboto' , sans-serif;
}
:root {
    --color-bright-yellow: #ffeb69;
    --color-bright-orange: #ffc091;
    --color-dark-purple: #260a2f;
    --color-dark-gold: #3a341c;
    --color-bright-blue: #a0e1e1;
    --color-dark-charcoal: #21231d;
    --color-white: #fff;
    --color-black: #000;
    --color-bright-green: #9fe870;
    --color-forest-green: #163300;
    --color-bright-pink: #ffd7ef;
    --color-dark-maroon: #320707;
    --color-content-primary: #9fe870;
    --color-content-secondary: #e8ebe6;
    --color-content-tertiary: #d0d5ce;
    --color-content-link: #9fe870;
    --color-content-link-hover: #cdffad;
    --color-content-link-active: #ecffe0;
    --color-interactive-primary: #9fe870;
    --color-interactive-accent: #9fe870;
    --color-interactive-control: #163300;
    --navigation-background-alpha: rgba(34,61,13,.9);
    --color-interactive-warning: #df8700;
    --color-interactive-warning-hover: #c97500;
}
header {
    
    width: 100%;
    height: 300px;
}
ul {
    list-style: none;
}
h1 {
    font-size: 3.5pc;
    font-weight: 400;
    line-height: 5pc;
    letter-spacing: 5px;
}
h3 {
    font-size: 1.3pc;
    font-weight: 400;
    line-height: 2pc;
    letter-spacing: 1.7px;
}
h4 {
    font-weight: 550;
    letter-spacing: 1.1px;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
p{
    font-size: 12px;
}
.img-background {
    background-image: url("../img/img-background-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-content-primary);
    
}
.img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow:hidden;
    background-color: beige;
    margin-right: 20px;
}
.img-container img{
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
}
.page-container{
    display: grid;
    grid-template-columns: 300px auto;
}
.sidebar {
    max-width: 300px;
    grid-area: 'sidebar';  
    background-color: var(--color-interactive-accent);   
    min-height: 100%;
    padding-bottom: 20px; 
}
.main{
    grid-area: 'main';  
}

.menu-container {
    padding: 16px;
}
.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-item {
    margin-bottom: 20px;
    height: 50px;
    background-color: var(--color-interactive-control);
    display: flex;
    align-items: center;    
    border-radius: 10px;
}
.menu-item>div{
    width: 100%;
    padding-left: 15px;
}
.menu-item a{
    color: var(--color-content-primary);
    text-decoration: none;
    letter-spacing: 3px;
    display: flex;
}
/* .menu-item div:hover {
    background-color: var(--color-primary);
    padding: 10px; 
    border-radius: 7px; 
}  */  

.comentarios-container{
    width: 260px;
    height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    
}
.comentario {
    display: flex;
    justify-content: space-evenly;
}
.comentario-img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.comentario-img img{
    width: 100%;
    object-fit: cover;
}
.comentario-content {
    padding: 10px;
    margin-left: 5px;
}
.comentario-content h4{
    margin-bottom: 10px;
}
/* --FOOTER-- */
footer{
    background-color: lightgrey;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 16px;
    place-items: center; /* Esto distribuirá el contenido de manera uniforme */
    
}
.nombre-materia{
    text-align: center;
    padding: 20px;
    font-style: italic;
}
.item-footer li {
    margin-bottom: 5px;
}
.item-footer a:hover{
    color: var(--color-primary);
    font-size: 18px;
}
/*Migas de Pan*/
.bread-crumb {
    display: flex;
    margin-left: 30px;
}
.bread-crumb li {
    margin-right: 15px;
    list-style:square;
}
/* --MEDIA QUERIES--*/
@media screen and (max-width:1024px) {
    .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: start;
    }
}
@media screen and (max-width:820px){
    header {
        height: 200px;
    }
    h1 {
        font-size: 2.5pc;
        font-weight: 300;
        line-height: 4pc;
        letter-spacing: 3px;
    }
    h3 {
        font-size: 1pc;
        font-weight: 300;
        line-height: 1.5pc;
        letter-spacing: 1.3px;
    }
    h4 {
        font-weight: 400;
        letter-spacing: .5px;
    }
    a {
        font-size: 15px;
    }
    .img-container {
        width: 100px;
        height: 100px;
    }
    .page-container {
        grid-template-columns: 200px auto;
    }
    .menu-container{
        padding: 10px;
    }
    .menu{
        width: 150px;
        margin: auto;
    }
    .menu-item{
        height: 35px;
    }
    .comentarios-container {
        width: 150px;
    }
    .comentario{
        flex-direction: column;
        align-items: center;
    }
    .comentario-img{ 
        width: 50px;
        height: 50px;
    }
    .item-footer {
        font-size: 15px;
    }
    
}
@media screen and (max-width:768px){
    .comentarios-container{
        padding: 0;
    }

}
@media screen and (max-width:540px) {
    header {
        height: 140px;
    }
    h1 {
        font-size: 1.5pc;
    }
    a {
        font-size: 12px;
    }
    h4 {
        font-size: 15px;
    }
    .img-container {
        width: 50px;
        height: 50px;
    }
    .page-container {
        grid-template-columns: 150px auto;
    }
    .menu{
        width: 130px;
    }
    .menu-item {
        height: 30px;
        text-align: center;
    }
    .menu-item a{
        flex-wrap: wrap;
    }
    .comentarios-container {
        width: 130px;
        height: 200px;
        align-items: center;
    }
    .comentario-img{ 
        width: 50px;
        height: 50px;
    }
    .comentario-content{
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item-footer {
        width: 250px;
        font-size: 12px;
        text-align: center;
    }
    
}
@media screen and (max-width:375px) {
    header {
        height: 140px;
    }
    .img-container {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width:345px) {
    header {
        height: 115px;
    }
    a {
        font-size: 10px;
    }
    p{
        font-size: 8px;
    }
    .img-background{
        flex-direction: column;
    }

    .page-container {
        grid-template-columns: 120px auto;
    }
    .menu{
        width: 100px;
    }
    .menu-item {
        height: 30px;
    }
    .menu-item>div{
        padding-left: 5px;
    }
    .comentarios-container {
        width: 110px;
        height: 170px;
        padding: 0;
    }
    .item-footer {
        font-size: 10px;
    }
}