
h2 {
    font-size: 1.5pc;
    letter-spacing: 2px;
    font-weight: 600;   
}
h4 {
    font-weight: 400;
}
h5 {
    font-weight: 400;
}
span {
    font-weight: 300;
}
.pizarra-section{
    padding: 20px;
}
.pizarra-cotizaciones {
    border: 2px solid var(--color-grey2);
    border-radius: 15px;
    padding: 20px;
}
.cotizaciones-title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-interactive-control);
}
.selector-monedas { 
    background-color: #fff;
    display: flex;
    height: 60px;
    align-items: center;
    width: 580px;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, .1);
}
label {
    font-size: 18px;
    letter-spacing: 1.25px;
}
.selector {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
   
    height: 100px;
}
.selector-monedas{
    border: 1px solid var(--color-interactive-control);
    padding: 10px;
    background-color: var(--color-interactive-primary);
    border-radius: 15px;
}
select {
    border-radius: 7px;
    width: 270px;
    height: 28px;
    padding: 4px;
    font-size: 16px;
    cursor: pointer;
    outline-style: none;
}
.filtrar-monedas {
    margin-left: 10px;
}
.btn-filtrar {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 17px;
    color: var(--color-interactive-control);
}
.fecha-hora {
    margin-top: 20px;
    text-align: end;
}
.fecha-hora p {
    font-size: 20px;
    color: var(--color-content-primary);
}
.monedas-container {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid var(--color-interactive-control);
    border-radius: 40px;
    background-color: #fff;
    padding: 20px;
}
.moneda-container{
    padding: 15px;
}
.moneda-card{
    border-radius: 15px;
    /* box-shadow: 0 0 60px 0 rgba(0, 0, 0, .1); */
    box-shadow: -3px 8px 20px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 8px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 8px 20px 0px rgba(0, 0, 0, 0.75);
}


.moneda-title {
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.moneda-body{
    display: flex;
    justify-content: space-around;
    height: 50px;
}
.moneda-footer{
    display: flex;
    justify-content: center;
}
.favoritos{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-interactive-accent);
    cursor: pointer;

}
.btn-favorito {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.btn-favorito i {
    font-size: 30px;
    color: var(--color-interactive-control);
}
.flag-container{
    width: 24px;
    height: 24px;
}
.flag-container img{
    width: 100%;
    object-fit: cover;
}
.aviso-favoritos {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.aviso-favoritos p {
    font-size: 16px;
    color: var(--color-content-primary);
}
.aviso-favoritos span {
    font-weight: bold;
}

.comentarios-section{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}
.comentarios-section h2{
    text-align: center;
}
.comentarios-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 20px;
    gap: 15px;
    place-content: center;
}
.comentario {
    /* box-shadow: 0 0 60px 0 rgba(0, 0, 0, .1); */
    box-shadow: -3px 8px 20px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 8px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 8px 20px 0px rgba(0, 0, 0, 0.75);
    width: 200px;
    border-radius: 10px;
}
.comentario-header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comentario-img-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.comentario-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.comentario-body {
    padding: 10px;
    margin-left: 5px;
}
.comentario-content h4{
    margin-bottom: 10px;
}