
h2 {
    font-size: 1.5pc;
    letter-spacing: 2px;
    font-weight: 600;   
}
h4 {
    font-weight: 400;
}
h5 {
    font-weight: 400;
}
span {
    font-weight: 300;
}
.pizarra-section{
    padding: 20px;
}
.pizarra-cotizaciones {
    border: 2px solid var(--color-grey2);
    border-radius: 4px;
    padding: 20px;
}
.cotizaciones-title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-interactive-control);
}
.selector-monedas-container{
    width: 380px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 15px;
    border: 0.5px solid rgba(179, 187, 198, 0.45);
    box-shadow: 0px 0px 10px rgba(179, 187, 198, 0.45);
}
.selector-monedas-container select {
    cursor: pointer;
    font-size: 16px;
    border: 0.5px solid rgba(179, 187, 198, 0.45);
    box-shadow: 0px 0px 10px rgba(179, 187, 198, 0.45);
}
.nombre-bandera{
    padding-left: 8px;
    padding-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flag{
    width: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flag img{
    width: 100%;
    object-fit: cover;
}
.nombre{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 8px;
    font-size: 18px;
    font-weight: 700;
}
/* esto lo dejo comentado porque despus lo vamos a usar con js */
/* .selector-moneda{
    padding-left: 12px;
    padding: 9.5px 4px;
    min-width: 30px;
    opacity: 1;
    border: 0;
    font-size: 1rem;
    margin-right: 5px;
}
.btn-selector-moneda{
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
} */
.icono-selector{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono-selector i{
    font-size: 1.2rem;
}
.fecha-hora {
    margin-top: 20px;
    text-align: end;
}
.fecha-hora p {
    font-size: 20px;
    color: var(--color-interactive-control);
}
.monedas-container {
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 40px;
    background-color: #fff;
    padding: 20px;
    border: 0.5px solid rgba(179, 187, 198, 0.45);
    box-shadow: 0px 0px 10px rgba(179, 187, 198, 0.45);
}
.moneda-container{
    padding: 15px;
}
.moneda-card{
    border-radius: 15px;
    /* box-shadow: 0 0 60px 0 rgba(0, 0, 0, .1); */
    /* box-shadow: -3px 8px 20px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 8px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 8px 20px 0px rgba(0, 0, 0, 0.75); */
    border: 0.5px solid rgba(179, 187, 198, 0.45);
    box-shadow: 0px 0px 10px rgba(179, 187, 198, 0.45);
}


.moneda-title {
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.moneda-body{
    display: flex;
    justify-content: space-around;
    height: 50px;
}
.moneda-footer{
    display: flex;
    justify-content: center;
}
.favoritos{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-interactive-accent);
    cursor: pointer;

}
.btn-favorito {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.btn-favorito i {
    font-size: 30px;
    color: var(--color-interactive-control);
}
.flag-container{
    width: 24px;
    height: 24px;
}
.flag-container img{
    width: 100%;
    object-fit: cover;
}
.aviso-favoritos {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.aviso-favoritos p {
    font-size: 16px;
    color: var(--color-interactive-control);
}
.aviso-favoritos span {
    font-weight: bold;
}

.comentarios-section{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}
.comentarios-section h2{
    text-align: center;
}
.comentarios-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 20px;
    gap: 15px;
    place-content: center;
}
.comentario {
    border: 0.5px solid rgba(179, 187, 198, 0.45);
    box-shadow: 0px 0px 10px rgba(179, 187, 198, 0.45);
    width: 200px;
    border-radius: 10px;
}
.comentario-header{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.comentario-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.comentario-body {
    padding: 10px;
    margin-left: 5px;
}
.comentario-content h4{
    margin-bottom: 10px;
}
@media screen and (max-width:768px){
    .comentarios-container {
        grid-template-columns: repeat(3 , 1fr);
    }
    
}
@media screen and (max-width:430px) {
    .cotizaciones-title h2 {
        font-size: 22px;
    }
    .monedas-container {
        display: flex;
        flex-direction: column;
    }
    .comentarios-container {
        display: flex;
        flex-wrap: wrap;
    }
    .fecha-hora {
        text-align: start;
    }
    .fecha-hora p {
        font-size: 18px;
    }
    .aviso-favoritos {
        flex-wrap: wrap;
        gap: 10px;
    }
}
@media screen and (max-width:325px){
    .selector-monedas-container {
        width: 250px;
    }
}