h2 {
    font-size: 1.5pc;
    letter-spacing: 2px;
    font-weight: 600;   
}
h4 {
    font-weight: 400;
}
h5 {
    font-weight: 400;
}
span {
    font-weight: 300;
}
.pizarra-cotizaciones {
    width: 90%;
    border: 2px solid var(--color-grey2);
    border-radius: 15px;
    padding: 30px;
}
.cotizaciones-title {
    text-align: center;
    margin-bottom: 20px;
}
.selector-monedas { 
    background-color: var(--color-grey1);
    display: flex;
    height: 60px;
    align-items: center;
    width: 580px;
    border-radius: 15px;
    justify-content: center;
    margin-left: 75px;
}
label {
    font-size: 18px;
    letter-spacing: 1.25px;
}
.selector-monedas:hover {
    box-shadow: 3px 3px 3px 3px hsla(180, 1%, 22%, 0.658);
}
.selector {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    padding: 0 10px;
}
select {
    border-radius: 7px;
    width: 270px;
    height: 28px;
    padding: 4px;
    font-size: 16px;
    cursor: pointer;
    outline-style: none;
}
.filtrar-monedas {
    margin-left: 10px;
}
.btn-filtrar {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 17px;
    color: hsl(0, 2%, 25%);
}
.fecha-hora {
    margin-top: 20px;
    text-align: end;
    width: 90%;
    
}
.fecha-hora p {
    font-size: 20px;
}
/* Cajas de precio*/
.monedas {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 15px;
}
.monedas-container {
    display: grid;
    grid-template-columns: auto auto ;
    border: 1px solid black;
    width: 90%;
    border-radius: 40px;
    padding: 20px;
    background-color: var(--color-primary)
}
.moneda-container{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
}
.moneda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 14px;
    padding: 7px;
    width: 500px;
    height: 70px;
    margin-right: 10px;
    
}
.btn-favorito {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.btn-favorito i {
    font-size: 30px;
    color: #456c84e5;
}
.moneda-title {
    justify-items: flex-start; /* fix*/
}
.aviso-favoritos {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 90%;
}
.aviso-favoritos p {
    font-size: 16px;
}
.aviso-favoritos span {
    font-weight: bold;
}
