li , span{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    list-style: none;
    margin: 0;
    height: 30px;

}
.archivos-section {
    padding: 30px;
    display: flex;
    justify-content: center;
}
.mi-archivo-container {
    border: 2px solid blueviolet;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.archivos-grid {
    display: grid;
    height: 400px;
    grid-template-rows: 200px , repeat(3,auto);
    
}

.titulo-y-impresora {
    display: flex;
    align-items: center;
    justify-content: center;
}
.impresora {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15%;
}
.impresora img {
    width: 100%;
    object-fit: cover;
}
.titulo {
    background-color: var(--color-terciary);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 10px;
    text-align: center;
}
.content {
    display: grid;
    grid-template-rows: repeat(2,auto);
    overflow-y: scroll;
}
.row-fecha {
    background-color: var(--color-primary);
    padding: 7px;
}
.content-monedas {
    display: grid;
    grid-template-columns: repeat( 5,1fr);
}
.content-monedas-column {
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
}
.borrar-cotizacion button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.borrar-cotizacion i {
    font-size: 20px;
    color: rgb(223, 88, 88);
}
/* Media Queries*/
@media screen and (min-width: 1920px) { /* Pantallas con ancho minimo de 1920px*/
    .mi-archivo-container {
        width: 1200px; /* Ancho fijo */
    }
    .titulo {
        width: 1000px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 1919px){
    .mi-archivo-container {
        max-width: 1200px; /* No superar los 1000px */
    }
    .titulo {
        width: 1000px;
    }
}
/* Para pantallas mayores o iguales a 1024px pero menores que 1920px */
@media screen and (min-width: 1024px) {
    .mi-archivo-container {
        width: 80%; /* Ancho relativo al tamaño de la pantalla */
        max-width: 1000px; /* No superar los 1000px */
    }
    .impresora {
        width: 40px;
        height: 40px;
        right: 8%;
    }
    li , span{
        font-size: 10px;
        height: 15px;
    }
    .titulo-y-impresora h1 {
        font-size: 30px;
    }
    .titulo h2 {
        font-size: 15px;
        font-weight: 400;
    }
}
/* Para pantallas menores de 1024px */
@media screen and (max-width: 1023px) {
    .mi-archivo-container {
        width: 100%; /* Ocupar todo el ancho disponible */
    }
    .impresora {
        width: 40px;
        height: 40px;
        right: 8%;
    }
    li , span{
        font-size: 10px;
        height: 15px;
    }
    .titulo-y-impresora h1 {
        font-size: 30px;
    }
    .titulo h2 {
        font-size: 15px;
        font-weight: 400;
    }
}
@media screen and (max-width:768px) {
    li , span{
        font-size: 10px;
        height: 18px;
    }
    .impresora {
        right: 6%;
        width: 30px;
        height: 30px;
    }
}