.titulos h3{
    font-size: 1.3pc;
    font-weight: 400;
    line-height: 2pc;
    letter-spacing: 1.7px;
}
.cotizaciones p{
    font-size: 1.2pc;
    letter-spacing: 1px;
}
.archivos-section {
    padding: 30px;
}
.mi-archivo-container {
    border: 2px solid var(--color-forest-green);
    border-radius: 10px;
    padding: 20px;
    max-height: 500px;
}
.titulo-impresora{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.titulo-archivo{
    margin: auto;
}
.titulo-archivo h1{
    font-size: 2pc;
}
.impresora{
    width: 40px;
    height: 40px;
}
.impresora img{
    width: 100%;
    object-fit: cover;
}
.cotizaciones-guardadas-container{
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(40px, auto);
}
.titulos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid var(--color-forest-green);
    border-radius: 10px;
    height: 70px;
    margin-bottom: 10px;
}
.titulos>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cotizaciones-guardadas{
    height: 300px;
    overflow-y: scroll;
}
.fecha{
    display: flex;
    align-items: center;
    background-color: lightgray;
    color: blue;
    padding: 10px;
}
.fecha span{
    margin-left: 10px;
}
.cotizaciones{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.cotizaciones>div{
    text-align: center;
}
.cotizaciones-guardadas-column{
    border: 1px solid lightgray;
}
.cotizaciones-guardadas-column ul{
    height: 100%;
    width: 100%;
    list-style: none;
    margin: 10px 0;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cotizaciones-guardadas-column ul li{
    margin-bottom: 5px;
}
.moneda p{
    text-align: start;
    padding-left: 10px;
}
.moneda li {
    margin-left: 5px;
    display: flex;
}
.flag-container{
    width: 24px;
    height: 24px;
}
.flag-container img{
    width: 100%;
    object-fit: cover;
}
.accion button{
    background-color: transparent;
    border: none;
    width: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}
.accion button i{
    font-size: 20px;
    color: rgb(221, 69, 69);
}
.bread-crumb-item-active::before{
    content: ">";
    padding: 0 8px;
    color: #000;
}
@media screen and (max-width: 768px){
    .titulos h3{
        font-size: 1pc;
        font-weight: 400;
    }
    .titulo-archivo h1{
        font-size: 2.5pc;
    }
    .cotizaciones p{
        font-size: .8pc;
        letter-spacing: 1px;
    }
    .fecha span{
        font-size: .8pc;
    }
}